.countrycard {
    margin: 5px;
    margin-bottom: 20px;
    padding: 2px;
    background-color: #1a1919;
    border-radius: 10px;
    align-items: center;
    color: white;
    text-shadow: 2px 2px 4px #000;
}

.countryflag img {
    width: 40%;
    border-radius: 5px;
    margin-top: 10px;
    align-items: center;
    border: 4px solid #3b3b3b;
}

.flagcard span {
    padding: 2px;
    text-align: left;
}

.form {
    padding: 5px;
}

.form input {
    padding: 10px;
    color: white;
    border-radius: 10px;
    width: 50%;
    text-align: center;
}

.name {
    background-color: #1a1919;
    border-radius: 10px;
    align-items: center;
    color: white;
    text-align: center;
}