.countrycard {
    margin: 5px;
    padding: 5px;
    background-color: brown;
    border: 1px solid black;
    align-items: center;
    display: inline-flex;
    justify-content: space-between;
    position: column;
}

.flagcard {
    margin: 5px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    position: row;
}

.flagcard img {
    width: 80%;
    margin: 0px;
    align-items: center;
}

.flagcard span {
    padding: 2px;
    text-align: left;
}

.flacard div {
    text-align: left;
}

.form {
    padding: 5px;
}

.form input {
    padding: 10px;
    color: white;
    border-radius: 10px;
    width: 50%;
}