.confirmed, .recovered, .deaths {
    color: aliceblue;
    display: flex;
    inline-size: auto;
    border-radius: 10px;
    display: block;
    letter-spacing: 1.3px;
    margin: 10px;
    text-shadow: 2px 2px 4px #000;
}

.confirmed {
    border-bottom: 10px solid rgba(255, 187, 0, 0.5);
}

.confirmed:hover {
    transform: scale(1.05);
    background: linear-gradient(to right, #faa422, #ffb84e);
}

.recovered {
    border-bottom: 10px solid #1c7ad1;
}

.recovered:hover {
    transform: scale(1.05);
    background: linear-gradient(to right, #1c7ad1, #309bff);
}

.deaths {
    border-bottom: 10px solid #e73d1f;
    
}

.deaths:hover {
    transform: scale(1.05);
    background: linear-gradient(to right, #e73d1f, #ff5031);
}

@media screen and (max-width: 5in) {
    .cards {
        flex-direction: column;
    }
}