:root {
  --main-radius: 5px;
  --main-padding: 5px;
  background-color: black;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.4fr 1.0fr 0.8fr 0.4fr;
  grid-template-areas: "nav nav nav nav" "globaldata main main DetailsCountry" "globalchart countrydata countrydata DetailsCountry" "news countrydata countrydata DetailsCountry";
  grid-gap: 0.4rem;
  font-family: "Inter", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 12px;
  color: white;
  text-align: center;
}

.nav {
  background: #3b3b3b;
  grid-area: nav;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

.main {
  background: #3b3b3b;
  grid-area: main;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

.news {
  background: #3b3b3b;
  grid-area: news;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

.globaldata {
  background: #3b3b3b;
  grid-area: globaldata;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  height: 200px;
}

.countrydata {
  background: #3b3b3b;
  grid-area: countrydata;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

.globalchart {
  background: #3b3b3b;
  grid-area: globalchart;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

.DetailsCountry {
  background: #3b3b3b;
  grid-area: DetailsCountry;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  overflow: scroll;
}

@media only screen and (max-width: 550px) {
  .container {
    grid-template-columns: 0.8fr;
    grid-template-rows: 0.4fr 0.4fr 1.2fr 1.2fr 2.2fr 1.2fr 1fr;
    grid-template-areas: "nav" "globaldata" "globalchart" "main" "DetailsCountry" "countrydata" "news";
  }
}